.DS_Store
.idea/
.vscode/
.fleet/
.nova/
.zed/

**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.gradle/
**/.pub/
**/build/
**/coverage/
**/node_modules/
**/vendor/
**/migrate_working_dir/

**/*.log
**/*.tmp
**/*.swp
**/*.swo
**/*.symbols
**/*.map.json

gd_live_backend/.env
gd_live_backend/.env.*
!gd_live_backend/.env.example
gd_live_backend/storage/*.key
gd_live_backend/storage/pail/
